.about {
    display: flex;
    align-items: flex-start stretch;
    height: 100%;
    width: 100%;
}

.aboutImage{
    width: 50%;
    height: auto;
    background:  #343434;
    padding: 1%;
    align-self: left;
    border: 1px white;
    border-style: solid none none solid;
}
.contentRight {
    width: 50%;
    align-self: right;
}

.aboutText {
    height: max-content     ;
    background-color: #343434;
    margin: auto;
    padding: auto;
    border: 1px white;
    border-style: solid none none solid;
    align-items: flex-end;
}
.awardsImage {
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: #343434;
    border-left: 1px solid white;
}