.mission{
    text-indent: 25px;
    display: flex; 
    align-self: center;
    align-content: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-color: #343434;
    border: 1px white;
    border-style: solid none none solid;
}

.missionImage {
    width: 33%;
    height: auto;
    scale: auto;
    margin-top: 1%;
    border: 2px solid black;
    padding: 0;
}

.missionText {
    width: 66%;
    background-color: #343434;
}

.testimony{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    border: 1px white;
    border-style: none none none solid;
    background-color: #343434;
}

.testimoniesTitle {
    background-color: #343434;
    border: 1px white;
    border-style: solid none none solid;
    text-align: center;
    margin-bottom: none;
    padding-bottom: none;

}

.testimoniesCycleName{
    font-size: 18pt;
    width: 25%;
    text-align: center;
    align-self: left;
    align-content: left;
}
.testimoniesCycleQuote{
    font-size: 12pt;
    margin: 10px;
    width: 75%;
    border: 1px white;
    border-style: none solid solid none ;
    align-self: center;
    align-content: left;
    align-items: flex-end;
}
.signup {
    text-align: center;
    border: 1px solid white;
}