.socialLinks {
    display: flexbox;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    background-color: #343434;

}

.fb-page {
    width: 30%;
    height: auto;
    align-self: left;
    background-color: #343434;
}

.instagram-media {
    background-color: #343434;
    width: 30%;
    height: auto;
    align-self: center;
    background:#FFF;
    border:0;
    border-radius:3px;
    margin: 1px;
    padding: 0;
}

.youtubeEmbed {
    background-color: #343434;
    width: 600px;
    height: auto;
    align-self: right;
}